*.DS_STORE
/node_modules
.eslint.json
.babelrc
/client/public/js/app.js
.sass-cache/
/fifth_ed_spells/fifth_ed_spells/fifth_ed_spells/
/fifth_ed_spells/fifth_ed_spells/account/
/fifth_ed_spells/node_modules/
/fifth_ed_spells/node/
/fifth_ed_spells/.buildpacks
/fifth_ed_spells/.env
/fifth_ed_spells/circle.yaml
/fifth_ed_spells/package.json/
/fifth_ed_spells/fifth_ed_spells/static_source/
/fifth_ed_spells/backup
*.pyc
/client/assets/css/bourbon/**
/client/assets/css/neat/**
/client/public/style/style.css
/client/public/style/style.css.map