.DS_STORE

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/client/public/js/app.js
.sass-cache/
/fifth_ed_spells/node_modules/
/fifth_ed_spells/node/
/fifth_ed_spells/.buildpacks
/fifth_ed_spells/circle.yaml
*.pyc
.outdated
/client/public/css/
.bowerrc
.editorconfig
.ember-cli
.jshintrc
.travis.yml
.watchmanconfig