#class-select {
  display: flex;
  flex-flow: column;
}

#character-class-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.character-class {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}

.primary-class-list {
  display: flex;
  flex-flow: column;
  background-color: black;
  color: white;
  height: 400px;
}

.tooltip-gap {
  height: 100%;
  width: 100px;
  background-color: white;
}

.subclass-list {
  display: none;
}

.subclass-list.active {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

#character-description, .primary-class-list {
  flex-grow: 1;
}

.parent-race {
  align-self: center;
  padding: 20px;
}