$char-background: #f7f7f7;

#dashboard {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

section {
  display: flex;
  flex-flow: column wrap;
}

.char-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row nowrap;

  div {
    border: 1px solid #f7f7f7;
    flex-grow: 1;

    input {
      display: none;
    }

    &:hover {
      @include transition(background-color, 300ms, ease-in-out);
      cursor: pointer;
      background-color: darken($char-background, 30%);
    }
  }
}

#skills {
  font-size: 0.6em;
  cursor: pointer;
  margin: 10px;

  .checked {
    background-image: url(/img/check.png);
    height: 18px;
    width: 22px;
    background-repeat: no-repeat;
    padding-right: 5px;
  }

  .unchecked {
    background-image: url(/img/unchecked.png);
    height: 18px;
    width: 22px;
    background-repeat: no-repeat;
    padding-right: 5px;
  }

  .skill-list {
    display: flex;
    flex-flow: row wrap;
    max-width: 350px;

    .skill {
      display: flex;
      padding-bottom: 5px;
      width: 50%;
    }

    .skill-mod {
      align-self: flex-start;
      padding-right: 5px;
    }
  }

  .skill-tooltip {
    position: absolute;
    top: -10em;
  }

}

.ability-scores {
  display: flex;
  flex-flow: row nowrap;
  height: 110px;
  background-repeat: no-repeat;

  .alter-up {
    background-image: url(/img/plus.png)
  }

  .alter-down {
    background-image: url(/img/minus.png)
  }

  .ability-score {
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
    min-width: 7.5em;
    margin: 10px;
    border: 1px solid black;
    padding: 7px;

    .score {
      align-self: flex-start;
      font-size: 40px;
    }

    .ability-meta {
      display: flex;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}