html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 22.652px;
  font-family: sans-serif;
  background-color: black; }

body {
  background-color: #5F6161;
  margin: 5px 0 5px 0; }

a, a:visited {
  text-decoration: none;
  color: white; }

#home-container {
  display: flex;
  flex-flow: column;
  height: 100%; }
  #home-container a {
    margin: 30px;
    display: flex;
    flex-grow: 1;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    border: 1px solid #5F6161; }
    #home-container a:hover {
      -webkit-transition: background-color 1s ease-in-out;
      -moz-transition: background-color 1s ease-in-out;
      transition: background-color 1s ease-in-out;
      -webkit-transition: box-shadow 300ms ease-in-out;
      -moz-transition: box-shadow 300ms ease-in-out;
      transition: box-shadow 300ms ease-in-out;
      background-color: #93BF88;
      border: 1px solid yellow;
      box-shadow: 4px 4px 4px black;
      color: black; }
    #home-container a div {
      flex-grow: 1;
      align-self: center; }

#char-creation {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #5F6161; }
  #char-creation #name-creation {
    align-self: center;
    margin: 0 auto; }
    #char-creation #name-creation .name-wrapper {
      width: 500px;
      height: 100px;
      display: flex;
      justify-content: center;
      background-color: #7f8181;
      border: 1px solid #4c4e4e;
      box-shadow: 2px 2px 2px black; }
      #char-creation #name-creation .name-wrapper .name-box {
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: #9fa0a0;
        width: 490px;
        height: 90px;
        border: 1px solid black; }
    #char-creation #name-creation form {
      align-self: center;
      margin: 0; }
    #char-creation #name-creation input[name="name"] {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      width: 300px;
      height: 50px;
      font-size: 20px;
      border: 1px solid black;
      color: white;
      background-color: black;
      padding: 0 30px; }
      #char-creation #name-creation input[name="name"]::-webkit-input-placeholder {
        text-align: center;
        color: #e6e6e6;
        opacity: 0.4; }
      #char-creation #name-creation input[name="name"]::-moz-placeholder {
        text-align: center;
        color: #e6e6e6;
        opacity: 0.4; }
      #char-creation #name-creation input[name="name"]:-moz-placeholder {
        text-align: center;
        color: #e6e6e6;
        opacity: 0.4; }
      #char-creation #name-creation input[name="name"]:-ms-input-placeholder {
        text-align: center;
        color: #e6e6e6;
        opacity: 0.4; }
    #char-creation #name-creation input[name="submit"] {
      display: none; }

/*# sourceMappingURL=style.css.map */
