@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.centered-navigation {
  background-color: #E7F1EC;
  border-bottom: 1px solid #d4e6dd;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #E7F1EC;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #E7F1EC;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.breadcrumb {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left; }
  .breadcrumb a {
    background-color: white;
    border: 1px solid gainsboro;
    border-left: 0;
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    line-height: 2.25em;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none; }
    .breadcrumb a:first-child {
      border-bottom-left-radius: 3px;
      border-left: 1px solid gainsboro;
      border-top-left-radius: 3px;
      padding-left: 1.125em; }
    .breadcrumb a:last-child {
      background-color: white;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: #999;
      padding-right: 1.125em; }
    .breadcrumb a:focus, .breadcrumb a:hover {
      background-color: white;
      color: #477DCA; }
    .breadcrumb a::after, .breadcrumb a::before {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 100%;
      border-bottom: 1.125em solid transparent;
      border-left: 0.5625em solid transparent;
      border-top: 1.125em solid transparent;
      content: "";
      display: block;
      margin: auto;
      z-index: 2; }
    .breadcrumb a:last-child::after, .breadcrumb a:last-child::before {
      border: 0; }
    .breadcrumb a::before {
      border-left-color: gainsboro;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumb a::after {
      border-left-color: white; }
    @media screen and (min-width: 40em) {
      .breadcrumb a {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

.tooltip-item {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center; }
  .tooltip-item:focus, .tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible; }
  .tooltip-item .tooltip {
    position: absolute;
    right: -300px;
    bottom: 3em;
    left: 9em;
    background-color: white;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px silver;
    color: #333;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 16em;
    opacity: 0;
    padding: 1em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10; }
    .tooltip-item .tooltip p {
      color: #333;
      line-height: 1.5em;
      margin: 0; }

.trait-list {
  display: flex; }

#race-select {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap; }
  #race-select::after {
    clear: both;
    content: "";
    display: table; }
  #race-select .parent-race {
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    #race-select .parent-race:nth-child(1) {
      border-top: 6px solid tomato; }
      #race-select .parent-race:nth-child(1):focus, #race-select .parent-race:nth-child(1):hover {
        background-color: rgba(255, 99, 71, 0.1); }
    #race-select .parent-race:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      #race-select .parent-race:nth-child(2):focus, #race-select .parent-race:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    #race-select .parent-race:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      #race-select .parent-race:nth-child(3):focus, #race-select .parent-race:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    #race-select .parent-race:nth-child(4) {
      border-top: 6px solid #E3D743; }
      #race-select .parent-race:nth-child(4):focus, #race-select .parent-race:nth-child(4):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    #race-select .parent-race:nth-child(5) {
      border-top: 6px solid #CCC; }
      #race-select .parent-race:nth-child(5):focus, #race-select .parent-race:nth-child(5):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    #race-select .parent-race:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      #race-select .parent-race:nth-child(6):focus, #race-select .parent-race:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }
    #race-select .parent-race img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    #race-select .parent-race .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    #race-select .parent-race p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  #race-select .flex-box-big {
    flex: 1 1 40em; }

#dashboard {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

section {
  display: flex;
  flex-flow: column wrap; }

.char-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-flow: row nowrap;
  min-height: 75px; }
  .char-info label {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1; }
    .char-info label input {
      background-color: #f7f7f7; }
  .char-info div {
    flex-grow: 1; }
    .char-info div input {
      display: none; }
    .char-info div:hover {
      -webkit-transition: background-color, 300ms, ease-in-out;
      -moz-transition: background-color, 300ms, ease-in-out;
      transition: background-color, 300ms, ease-in-out;
      cursor: pointer;
      background-color: #ababab; }

#skills {
  font-size: 0.6em;
  cursor: pointer;
  margin: 10px; }
  #skills .checked {
    background-image: url(/img/check.png);
    height: 18px;
    width: 22px;
    background-repeat: no-repeat;
    padding-right: 5px; }
  #skills .unchecked {
    background-image: url(/img/unchecked.png);
    height: 18px;
    width: 22px;
    background-repeat: no-repeat;
    padding-right: 5px; }
  #skills .skill-list {
    display: flex;
    flex-flow: row wrap;
    max-width: 350px; }
    #skills .skill-list .skill {
      display: flex;
      padding-bottom: 5px;
      width: 50%; }
    #skills .skill-list .skill-mod {
      align-self: flex-start;
      padding-right: 5px; }
  #skills .skill-tooltip {
    position: absolute;
    top: -10em; }

.ability-scores {
  display: flex;
  flex-flow: row nowrap;
  height: 110px;
  background-repeat: no-repeat; }
  .ability-scores .alter-up {
    background-image: url(/img/plus.png); }
  .ability-scores .alter-down {
    background-image: url(/img/minus.png); }
  .ability-scores .ability-score {
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
    min-width: 7.5em;
    margin: 10px;
    border: 1px solid black;
    padding: 7px; }
    .ability-scores .ability-score .score {
      align-self: flex-start;
      font-size: 40px; }
    .ability-scores .ability-score .ability-meta {
      display: flex;
      font-size: 12px;
      justify-content: space-between; }

body {
  width: 1230px;
  margin: 0 auto;
  font-size: 22.652px;
  font-family: sans-serif;
  background-color: #5F6161; }
  body #current-view {
    min-height: 450px; }

.main-grid {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #DCDCDC; }
  .main-grid:last-child {
    margin-right: 0; }
  .main-grid .playable-races {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .main-grid .playable-races:last-child {
      margin-right: 0; }
  .main-grid .preview-playable-race {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    background-color: #F6F6F6; }
    .main-grid .preview-playable-race:last-child {
      margin-right: 0; }

.accordion {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  margin: 0 0 1.5em 0;
  padding: 0; }
  .accordion:last-child {
    margin-right: 0; }
  .accordion ul {
    margin: 0;
    padding: 0; }
  .accordion li {
    border-bottom: 1px solid gainsboro;
    list-style: none; }
    .accordion li > a {
      color: #333;
      display: block;
      padding: 0.75em 1.618em;
      text-decoration: none; }
    .accordion li:last-child {
      border: 0; }
    .accordion li:focus, .accordion li:hover {
      background-color: gray; }
  .accordion ul.submenu li {
    background-color: #e9e9e9; }
    .accordion ul.submenu li .active {
      background-color: white; }
    .accordion ul.submenu li:first-child {
      border-top: 1px solid gainsboro;
      box-shadow: inset 0 1px 1px #d9d9d9; }
    .accordion ul.submenu li:focus, .accordion ul.submenu li:hover {
      background-color: white; }
  .accordion .is-expanded {
    display: block;
    padding-bottom: 0; }

.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .flex-boxes .flex-box {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2 2 15em;
    -moz-flex: 2 2 15em;
    -ms-flex: 2 2 15em;
    flex: 2 2 15em;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(255, 99, 71, 0.1); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #CCC; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 40em;
    -moz-flex: 1 1 40em;
    -ms-flex: 1 1 40em;
    flex: 1 1 40em; }

.grid-items-lines {
  position: relative; }
  .grid-items-lines::after {
    clear: both;
    content: "";
    display: table; }
  .grid-items-lines .grid-item {
    background: white;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 14em;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.33333%; } }
    .grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: 0.2; }
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    background: white;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%; }
  .grid-items-lines .right-cover {
    background: white;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px; }

.ability-select {
  display: flex;
  flex-flow: column nowrap; }
  .ability-select ul {
    margin: 0;
    padding: 0; }
  .ability-select .ability {
    height: 75px; }
    .ability-select .ability.ability-active {
      background-color: green; }
  .ability-select .panel-options {
    display: none; }

#ability-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }
  #ability-container section, #ability-container aside {
    flex-grow: 1; }

.ability-custom .panel-options, .ability-standard .panel-options {
  display: none; }
.ability-custom .panel-options.panel-active, .ability-standard .panel-options.panel-active {
  display: flex; }

.abilities {
  flex-flow: column nowrap; }
  .abilities .ability {
    display: flex;
    justify-content: space-around; }
    .abilities .ability div {
      display: flex;
      justify-content: center; }
    .abilities .ability .ability-name {
      width: 30%; }
    .abilities .ability span {
      align-self: center; }

.ability-standard .panel-options.panel-active {
  display: flex;
  flex-flow: column;
  justify-content: space-around; }

.ability-custom .custom-input {
  height: 75px;
  width: 75px;
  display: flex;
  flex-flow: column; }
  .ability-custom .custom-input > input {
    flex-grow: 1;
    text-align: center;
    cursor: pointer; }
    .ability-custom .custom-input > input:focus {
      background-color: yellow; }

/*# sourceMappingURL=style.css.map */
